---
layout: default
title: page-home.title
description: page-home.description
load_gsap: true
---
<section class="intro">
	<div class="container top-container">
		<div>
			<div class="titles">
				<h1>
					{% t page-home.intro.title %}
				</h1>
				<h4>
					{% t page-home.intro.subtitle %}
				</h4>
			</div>
			<div class="buttons">
				{% include button.html
				text="page-home.intro.button-start"
				translate=true
				link="contact"
				style="style1"
				%}
				{% include button.html
				text="page-home.intro.button-learn"
				translate=true
				link="#learn-more"
				secondary=true
				style="style2"
				%}
			</div>
		</div>
		<img src="{{ site.assetsPath }}/img/pages/home/advantages-big-logo.svg" class="home-bg-pic">
	</div>
</section>
<section class="what-we-do">
	<div class="container">
		<div class="row title-row">
			<h3>{% t page-home.what-we-do.title1 %}</h3>
			<p>{% t page-home.what-we-do.text1 %}</p>
		</div>
		<div class="row list-row">
			<div>{% t page-home.what-we-do.title2 %}</div>
			<p>{% t page-home.what-we-do.text2 %}</p>
		</div>
		<div class="row list-row">
			<div>{% t page-home.what-we-do.title3 %}</div>
			<p>{% t page-home.what-we-do.text3 %}</p>
		</div>
		<div class="row list-row">
			<div>{% t page-home.what-we-do.title4 %}</div>
			<p>{% t page-home.what-we-do.text4 %}</p>
		</div>
		<div class="row list-row">
			<div>{% t page-home.what-we-do.title5 %}</div>
			<p>{% t page-home.what-we-do.text5 %}</p>
		</div>
	</div>
</section>
<section class="lets-start">
	<div class="container">
		<h3 class="text">{% t page-home.lets-start.text %}</h3>
		{% include button.html
			text="page-home.lets-start.button"
			translate=true
			link="contact"
			%}
	</div>
</section>
<section class="help-clients">
	<div class="container">
		<div class="first-row">
			<h3>{% t page-home.help-clients.title %}</h3>
			<p>{% t page-home.help-clients.text %}</p>
		</div>
		<div class="card-list">
			<div class="card-row">
				<div class="card row1-card">
					<div class="card-title">{% t page-home.help-clients.card-title1 %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/benefit-card1.svg" class="cart-pic">
					<p>{% t page-home.help-clients.card-text1 %}</p>
				</div>
				<div class="card row1-card">
					<div class="card-title">{% t page-home.help-clients.card-title2 %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/benefit-card2.svg" class="cart-pic">
					<p>{% t page-home.help-clients.card-text2 %}</p>
				</div>
				<div class="card row1-card">
					<div class="card-title">{% t page-home.help-clients.card-title3 %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/benefit-card3.svg" class="cart-pic">
					<p>{% t page-home.help-clients.card-text3 %}</p>
				</div>
			</div>
			<div class="card-row">
				<div class="card row2-card">
					<div class="card-title">{% t page-home.help-clients.card-title4 %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/benefit-card4.svg" class="cart-pic">
					<p>{% t page-home.help-clients.card-text4 %}</p>
				</div>
				<div class="card row2-card">
					<div class="card-title">{% t page-home.help-clients.card-title5 %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/benefit-card5.svg" class="cart-pic">
					<p>{% t page-home.help-clients.card-text5 %}</p>
				</div>
			</div>
		</div>
		<div class="button-container">
			{% include button.html
				text="page-home.help-clients.button"
				translate=true
				link="contact"
				style="style3"
				%}
		</div>
	</div>
</section>
<section class="about-us">
	<div class="container">
		<div class="first-row">
			<h3>{% t page-home.about-us.title %}</h3>
			<p>{% t page-home.about-us.text %}</p>
		</div>
		<div class="card-list">
			<div class="card-row">
				<div class="card">
					<div class="title-container">
						<div class="card-title">{% t page-home.about-us.card1 %}</div>
						<div class="line"></div>
					</div>
				</div>
				<div class="card">
					<div class="title-container">
						<div class="card-title">{% t page-home.about-us.card2 %}</div>
						<div class="line"></div>
					</div>
				</div>
				<div class="card">
					<div class="title-container">
						<div class="card-title">{% t page-home.about-us.card3 %}</div>
						<div class="line"></div>
					</div>
				</div>
				<div class="card">
					<div class="title-container">
						<div class="card-title">{% t page-home.about-us.card4 %}</div>
						<div class="line"></div>
					</div>
				</div>
			</div>
			<div class="card-row">
				<div class="card">
					<div class="title-container">
						<div class="card-title">{% t page-home.about-us.card5 %}</div>
						<div class="line"></div>
					</div>
				</div>
				<div class="card">
					<div class="title-container">
						<div class="card-title">{% t page-home.about-us.card6 %}</div>
						<div class="line"></div>
					</div>
				</div>
				<div class="card">
					<div class="title-container">
						<div class="card-title">{% t page-home.about-us.card7 %}</div>
						<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="team">
			<div class="team-row">
				<div class="member-card">
					<img src="{{ site.assetsPath }}/img/pages/home/members/photo-capkova.png" class="member-pic">
					<div class="text">
						<div class="name">Zuzka Čapková</div>
						<p>{% t page-home.about-us.member-capkova %}</p>
					</div>
				</div>
				<div class="member-card">
					<img src="{{ site.assetsPath }}/img/pages/home/members/photo-hrehorovsky.png" class="member-pic">
					<div class="text">
						<div class="name">Petr Hrehorovský</div>
						<p>{% t page-home.about-us.member-hrehorovsky %}</p>
					</div>
				</div>
				<div class="member-card">
					<img src="{{ site.assetsPath }}/img/pages/home/members/photo-prajz.png" class="member-pic">
					<div class="text">
						<div class="name">Jirka Prajz</div>
						<p>{% t page-home.about-us.member-prajz %}</p>
					</div>
				</div>
			</div>
			<div class="team-row">
				<div class="member-card">
					<img src="{{ site.assetsPath }}/img/pages/home/members/photo-susen.png" class="member-pic">
					<div class="text">
						<div class="name">Jindra Sušeň</div>
						<p>{% t page-home.about-us.member-susen %}</p>
					</div>
				</div>
				<div class="member-card">
					<img src="{{ site.assetsPath }}/img/pages/home/members/photo-urbanek.png" class="member-pic">
					<div class="text">
						<div class="name">Vašek Urbánek</div>
						<p>{% t page-home.about-us.member-urbanek %}</p>
					</div>
				</div>
				<div class="member-card">
					<img src="{{ site.assetsPath }}/img/pages/home/members/photo-vavrda.png" class="member-pic">
					<div class="text">
						<div class="name">Tomáš Vavrda</div>
						<p>{% t page-home.about-us.member-vavrda %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="join-us">
	<div class="container">
		<div class="text-container">
			<h3>{% t page-home.join-us.title %}</h3>
			<p>{% t page-home.join-us.text %}</p>
		</div>
		{% include button.html
			text="page-home.join-us.button"
			translate=true
			link="contact"
			style="style4"
			%}
	</div>
</section>
<section class="about-us-text">
	<div class="container">
		<div class="left-container">
			<p>{% t page-home.about-us-text.text1 %}</p>
			<p>{% t page-home.about-us-text.text2 %}</p>
			<p>{% t page-home.about-us-text.text3 %}</p>
			{% include button.html
				text="page-home.join-us.button"
				translate=true
				link="contact"
				style="style3"
				%}
			</div>
			<div class="right-container">
				<img src="{{ site.assetsPath }}/img/pages/home/about-us1.png" class="top-picture">
				<div class="bottom-pictures">
					<img src="{{ site.assetsPath }}/img/pages/home/about-us2.png" class="bottom-picture">
					<img src="{{ site.assetsPath }}/img/pages/home/about-us3.png" class="bottom-picture">
				</div>
			</div>
	</div>
</section>
<section class="lets-start">
	<div class="container">
		<h3 class="text">{% t page-home.lets-start.text %}</h3>
		{% include button.html
			text="page-home.lets-start.button"
			translate=true
			link="contact"
			%}
	</div>
</section>
<section class="how-we-work">
	<div class="container">
		<div class="first-row">
			<h3>{% t page-home.how-we-work.title %}</h3>
			<p>{% t page-home.how-we-work.text %}</p>
		</div>
		<div class="step-container">
			<div class="step active-step ">
				<div class="step-title">
					<div>{% t page-home.how-we-work.step1-title %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/step-active.svg" class="step-pic">
				</div>
				<p>{% t page-home.how-we-work.step1-text %}</p>
			</div>
			<div class="step inactive-step ">
				<div class="step-title">
					<div>{% t page-home.how-we-work.step2-title %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/step-inactive.svg" class="step-pic">
				</div>
				<p>{% t page-home.how-we-work.step2-text %}</p>
			</div>
			<div class="step inactive-step ">
				<div class="step-title">
					<div>{% t page-home.how-we-work.step3-title %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/step-inactive.svg" class="step-pic">
				</div>
				<p>{% t page-home.how-we-work.step3-text %}</p>
			</div>
			<div class="step inactive-step ">
				<div class="step-title">
					<div>{% t page-home.how-we-work.step4-title %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/step-inactive.svg" class="step-pic">
				</div>
				<p>{% t page-home.how-we-work.step4-text %}</p>
			</div>
			<div class="step inactive-step ">
				<div class="step-title">
					<div>{% t page-home.how-we-work.step5-title %}</div>
					<img src="{{ site.assetsPath }}/img/pages/home/step-inactive.svg" class="step-pic">
				</div>
				<p>{% t page-home.how-we-work.step5-text %}</p>
			</div>
		</div>
		<div class="button-container">
			{% include button.html
				text="page-home.how-we-work.button"
				translate=true
				link="contact"
				style="style3"
				%}
		</div>
		<div class="technologies">
			<div class="tech-title">
				<h3>{% t page-home.how-we-work.tech-title %}</h3>
				<div>{% t page-home.how-we-work.tech-text %}</div>
			</div>
			<div class="tech-grid">
				<div>
				<h4>{% t page-home.how-we-work.tech-sub-title1 %}</h4>
					<div class="column-pair">
						<div class="column">
							<div class="tile">
								<div class="img">
										<img src="{{ site.assetsPath }}/img/pages/home/technologies/origam.svg">
								</div> 
								<div>Origam</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/react.svg">
								<div>React</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/javascript.svg">
								<div>JavaScript</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/cpp.png">
								<div>C++</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/docker.png">
								<div>Docker</div>
							</div> 
						</div>
						<div class="column">
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/dotnet.png" class="dotnet-icon">
								<div>.NET</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/git.png">
								<div>Git</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/as.png" class="as-icon">
								<div>ActionScript</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/sql.png">
								<div>SQL</div>
							</div> 
						</div>
					</div>
				</div>
				<div>
					<h4>{% t page-home.how-we-work.tech-sub-title2 %}</h4>
					<div class="column-pair">
						<div class="column">
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/meap.png" class="meap-icon">
								<div>Canon MEAP</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/discourse.png">
								<div>Discourse</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/amadeus.png">
								<div>Amadeus</div>
							</div> 
						</div>
						<div class="column">
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/flexi.png">
								<div>ABRA Flexi</div>
							</div> 
							<div class="tile">
								<img src="{{ site.assetsPath }}/img/pages/home/technologies/pohoda.png">
								<div>Pohoda</div>
							</div>  
						</div>
					</div>
				</div>
			</div>
			<img src="{{ site.assetsPath }}/img/pages/home/logo_advantageSolutions.svg" class="logo">
	</div>
</section>
<section class="our-work">
	<div class="container">
		<div class="title">
			<h2>{% t page-home.our-work.title %}</h2>
			<p>{% t page-home.our-work.text %}</p>
		</div>
		<div class="table">
			<div class="categories">
				<div class="category active">
					{% t page-home.our-work.category1 %}
				</div>
				<div class="category">
					{% t page-home.our-work.category2 %}
				</div>
				<div class="category">
					{% t page-home.our-work.category3 %}
				</div>
				<div class="category">
					{% t page-home.our-work.category4 %}
				</div>
				<div class="category">
					{% t page-home.our-work.category5 %}
				</div>
				<div class="category">
					{% t page-home.our-work.category6 %}
				</div>
				<div class="category">
					{% t page-home.our-work.category7 %}
				</div>
				<div class="category">
					{% t page-home.our-work.category8 %}
				</div>
			</div>
			<div class="content">
				<div class="tile-couple">
					<div class="tile active-tile">
						<img src="{{ site.assetsPath }}/img/pages/home/customers/leco.png">
						<div>Le&Co</div>
					</div> 
					<div class="tile">
						<img src="{{ site.assetsPath }}/img/pages/home/customers/wyby.png">
						<div>WyBy</div>
					</div> 
				</div> 
				<div class="tile">
					<img src="{{ site.assetsPath }}/img/pages/home/customers/elpida.png">
					<div>Elpida</div>
				</div> 
			</div>
		</div>
	</div>
</section>
<section class="contact">
	<div class="container">
		<h2>{% t page-home.contact.title %}</h2>
		<p>{% t page-home.contact.text %}</p>
		<div class="bottom-bar">
			<img class="logo" src="{{ site.assetsPath }}/img/pages/home/logo_advantageSolutions-bottom.svg">
			<div class="mail">		
				<img src="{{ site.assetsPath }}/img/pages/home/email.svg">
				<a href = "mailto: info@advantages.cz">info@advantages.cz</a>
			</div>
			<div class="phone">		
				<img src="{{ site.assetsPath }}/img/pages/home/phone.svg">
				<a href="tel:+420 234 688 432">+420 234 688 432</a>
			</div>
		</div>
	</div>
</section>
