
@font-face {
  font-family: 'Wix Madefor Text';
  src: URL('../font/WixMadeforText-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Wix Madefor Display';
  src: URL('../font/WixMadeforDisplay-VariableFont_wght.ttf') format('truetype');
}

html {
	font-family: 'Wix Madefor Text';
	line-height: 1.5;
	color: colors.brand(gray, 900);

	@media (max-width: bps.$XL) {
		font-size: 14px; 
	}

	@media (max-width: bps.$L) {
		font-size: 16x; 
	}

	@media (max-width: bps.$S) {
		font-size: 10px; 
	}

	// @media (max-width: bps.$XS) {
	// 	font-size: 12px; 
	// }
}

/* page headers */
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Wix Madefor Display';
}

h1 {
	font-size: 5rem;
	line-height: 120%;
	line-height: 132%; /* 4.785rem */ 
	margin: 0;
	
	@media (max-width: bps.$L) {
		font-size: 3.625rem;
	}
}

/* subheaders */
h2 {
	font-size: 3rem;
	line-height: 120%;
	letter-spacing: 0.005em;
	margin: 0;
	
	@media (max-width: bps.$L) {
		font-size: 3rem; 
	}
}

h3 {
	font-size: 3rem;
	line-height: 120%;
	margin: 0;
	
	@media (max-width: bps.$L) {
		font-size: 2.5rem;
	}
}

h4 {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 2rem;

	@media (min-width: bps.$L) {
		font-size: 1.625rem;
	}
}

h5 {
	line-height: 125%;
	letter-spacing: 0.025em;

	@media (min-width: bps.$L) {
		font-size: 1.25rem;
	}
}
