/*
 *	Read more about this file at https://csswizardry.com/2013/04/shame-css/
 */

/* page headers */
.container {
	display: flex;
	flex-direction: column;
	max-width: 80em;
}

html {
	scroll-behavior: smooth;

	&.overflow-hidden {
		overflow: hidden;
	}
}
